<div class="header d-flex align-items-center border-bottom shadow-sm px-3 py-2 flex-wrap flex-md-nowrap" style="height: 70px;">
    <!-- LOGO + TOGGLE -->
    <div class="d-flex align-items-center pe-2" style="width: 30%;">
      <img [src]="logoBase64" alt="Logo Grupo" class="logo-img me-2" />
      <a class="d-none d-md-block" (click)="toggleSideBar()" href="javascript:void(0);">
        <img src="assets/img/icons/bar-icon.svg" alt="">
      </a>
      <a class="d-md-none" (click)="toggleMobileSideBar()" href="javascript:void(0);">
        <img src="assets/img/icons/bar-icon.svg" alt="">
      </a>
    </div>
  
    <!-- NUEVA CONSULTA -->


    <!-- NUEVA CONSULTA - Desktop -->
<div class="d-none d-md-flex align-items-center justify-content-center" style="width: 25%;">
    <div class="dropdown">
      <button class="btn btn-link text-decoration-none p-0 text-info d-flex align-items-center gap-1 fs-6"
              data-bs-toggle="dropdown">
        <i class="fa fa-plus fs-5"></i>
        <span class="fw-bold">NUEVA CONSULTA</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="irConsultaNueva()">CONSULTA NUEVA</a></li>
        <li><a class="dropdown-item" (click)="irConsultaRapida()">CONSULTA RÁPIDA</a></li>
      </ul>
    </div>
  </div>
  
  <!-- NUEVA CONSULTA - Mobile -->
  <div class="d-flex d-md-none align-items-center justify-content-center me-2">
    <div class="dropdown">
      <button class="btn btn-info rounded-circle text-white p-2 align-items-center justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-edit"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" (click)="irConsultaNueva()">CONSULTA NUEVA</a></li>
        <li><a class="dropdown-item" (click)="irConsultaRapida()">CONSULTA RÁPIDA</a></li>
      </ul>
    </div>
  </div>

<!-- 
    <div class="d-flex align-items-center justify-content-center" style="width: 15%;">
      <div class="dropdown">
        <button class="btn btn-info d-flex align-items-center justify-content-center rounded-circle"
                style="width: 34px; height: 34px;" data-bs-toggle="dropdown">
          <i class="fa fa-edit text-white"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="irConsultaNueva()">CONSULTA NUEVA</a></li>
          <li><a class="dropdown-item" (click)="irConsultaRapida()">CONSULTA RÁPIDA</a></li>
        </ul>
      </div>
    </div> -->
  
    <!-- USUARIO -->
    <div class="d-flex align-items-center justify-content-center text-end" style="width: 45%;">
      <div class="dropdown">
        <button class="btn btn-link text-decoration-none text-dark p-0" data-bs-toggle="dropdown">
          <div class="d-flex flex-column align-items-end">
            <div class="fw-bold text-uppercase username-text">{{ nombreUsuario }}</div>
            <div class="small text-muted description-text">{{ descripcionUsuario }}</div>
          </div>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngFor="let grupo of listaGrupos">
            <a class="dropdown-item d-flex align-items-center gap-2" (click)="seleccionarGrupo(grupo)">
              <img [src]="grupo.logoBase64" alt="Grupo" class="group-logo-img" />
              {{ grupo.nombre }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- ENGRANE -->
    <div class="d-flex align-items-center justify-content-end" style="width: 10%;">
      <div class="dropdown">
        <button class="btn btn-link text-decoration-none p-0 text-info fs-4" data-bs-toggle="dropdown">
            <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" (click)="irAltaPaciente()">ALTA DE PACIENTE</a></li>
          <li><a class="dropdown-item" (click)="irCambiarPassword()">CAMBIAR CONTRASEÑA</a></li>
          <li><a class="dropdown-item" (click)="logout()">CERRAR SESIÓN</a></li>
        </ul>
      </div>
    </div>
  </div>
  