<div class="page-wrapper">
    <div class="content">
  
      <!-- Breadcrumb -->
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">AGENDA</li>
              <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
              <li class="breadcrumb-item active">AGENDA</li>
            </ul>
          </div>
        </div>
      </div>
  
      <!-- Contenido -->
      <div class="row">
        <div class="col-sm-12">
            <p>AGENDA works!</p>
        </div>
      </div>
    </div>
</div>