<div class="page-wrapper">
  <div class="content">
  
      <!-- Page Header -->
      <div class="page-header">
          <div class="row">
              <div class="col-sm-12">
                  <ul class="breadcrumb">
                      <!-- <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li> -->
                      <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                      <li class="breadcrumb-item active">Doctor Dashboard</li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- /Page Header -->
      
      <div class="good-morning-blk">
          <div class="row">
              <div class="col-md-6">
                  <div class="morning-user">
                      <h2>Good Morning, <span>Daniel Bruk</span></h2>
                      <p>Have a nice day at work</p>
                  </div>
              </div>
              <div class="col-md-6 position-blk">
                  <div class="morning-img">
                      <img src="assets/img/morning-img-01.png" alt="">
                  </div>
              </div>
          </div>
      </div>

          <div class="page-header">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="page-title">¡Bienvenido Doctor!</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
                </ul>
              </div>
            </div>
          </div>
      
          <!-- Widgets -->
          <div class="row">
            <div class="col-md-6 col-xl-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="mb-2">Pacientes activos</h4>
                  <p class="mb-0">34</p>
                </div>
              </div>
            </div>
          </div>
      
 
  </div>
</div>